
body{
    margin:0;
    font-family:consolas;
}
#navBar{
    box-sizing: border-box;
    background-color: darkslategray;
    display:flex;
    color:white;
    height:10vh;
    align-items: center;
    justify-content: center;
    gap:10%;
    font-size:3vh;
}
#content{
    height:85vh;
    width:100vw;
}
#footer{
    background-color: darkslategray;
    color:white;
    height:5vh;
    width:100vw;
    font-size:2.5vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
#footer a{
    color:inherit;
    text-decoration: none;
}

.centerMe{
    display:flex;
    align-items: center;
    justify-content: center;
}

#homeText{
    box-sizing: border-box;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 5% 0 5%;
    text-align:center;
    font-size:150%;
}

.navText{
    color:white;
    font-family: inherit;
    text-decoration: inherit;
    transition:all 0.15s;
}

.navText:hover{
    transform:translateY(5%)
}
.navText:active{
    transform:translateY(2%)
}

.mainScreen{
    height:100%;
    width:100%;
    box-sizing: border-box;
}
#itemsPage{
    box-sizing: border-box;
    height:90%;
    width:100vw;
}

#cartPage{
    box-sizing: border-box;
    height:100%;
    width:100vw;
}

#itemsPage .itemsContainer{
    height:100%;
    display:flex;
    flex-wrap:wrap;
    overflow:auto;
    justify-content: center;
    align-items: center;
    
}

#cartPage .itemsContainer{
    display:flex;
    height:100%;
    flex-direction:column;
    overflow:auto;  
}

#cartArea{
    box-sizing: border-box;
    height:10%;
    width:100%;
    background-color: wheat;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:2%;
}

.item{
    box-sizing: border-box;
    height:40%;
    display:flex;
    justify-content: center;
}

.itemLeft{
    box-sizing: border-box;
    width:10rem;
    display:flex;
    align-items: center;
    justify-content: center;

}
.itemLeft img{
    box-sizing: border-box;
    width:100%;
}

#cartPage .itemRight{
    width:15rem;
}

.itemRight{
    box-sizing: border-box;
    padding:2%;
    width:10rem;
    text-align:left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap:10%;
}

.itemName{
    height:30%;
    font-size:3vh;
}
.itemPrice{
    font-size:5vh;
    
}
.addCartBtn{
    width:100px;
    background-color: white;
    height:5vh;
    font-family:inherit;
    border-style:solid;
}
.addCartBtn:hover{
    color:white;
    background-color: black;
}

#itemCount{
    font-size:130%;
}

.buttonContainer{
    display:flex;
}

.buttonContainer button{
    font-size:2rem;
    height:3rem;
    width:3rem;
    background-color: white;
    border-style: none;
}

.buttonContainer button:hover{
    background-color: black;
    color:white;
}

.animateThis{
    font-size:500%;
}

#cartArea i{
    transition:all 0.3s;
}